aesara==2.9.1
astropy==5.3.1
astunparse==1.6.3
av==10.0.0
beartype==0.15.0
brotli==1.0.9
brotlicffi==1.0.9.2
cartopy==0.21.1
ConfigParser==6.0.0
coremltools==6.3.0
cryptography==41.0.2
Cython==3.0.0
defusedxml==0.7.1
dill==0.3.7
disco==1.40.4
dl==0.1.0
docutils==0.20.1
etcd==2.0.8
expecttest==0.1.4
foo==.1
genapi==0.0.8
gmpy2==2.1.5
h5py==3.9.0
HTMLParser==0.0.2
hypothesis==6.82.0
imagecodecs==2023.7.10
imageio_ffmpeg==0.4.8
intel_extension_for_pytorch==2.0.100
ipaddr==2.2.0
ipython==8.14.0
ipywidgets==8.0.7
itk==5.3.0
jnius==1.1.0
keyring==24.2.0
lmdb==1.4.1
lockfile==0.12.2
lxml==4.9.3
matchpy==0.5.5
matplotlib==3.7.2
mayavi==4.8.1
mock==5.1.0
monkeytype==23.3.0
moviepy==1.0.3
mtrand==0.1
multiset==3.0.1
mypy==1.4.1
mypy_extensions==1.0.0
numarray==1.5.1
Numeric==24.2
olefile==0.46
onnxruntime==1.15.1
ordereddict==1.1
osgeo==0.0.1
pandas==2.0.3
pickle5==0.0.12
pooch==1.7.0
protobuf==4.23.4
psutil==5.9.5
pycocotools==2.0.6
pycosat==0.6.3
pydot==1.4.2
pydy==0.7.1
pyglet==2.0.8
pygraphviz==1.11
PyInstaller==5.13.0
pymatbridge==0.5.2
pymc==5.6.1
pymc3==3.11.5
pynvml==11.5.0
pyOpenSSL==23.2.0
PyQt6==6.5.2
pysat==3.1.0
PySide6==6.5.2
pytest_timeout==2.1.0
pytorch_lightning==2.0.6
pytz==2023.3
sage==0.0.0
scikits.talkbox==0.2.5
seaborn==0.12.2
setuptools_scm==7.1.0
SimpleITK==2.2.1
simplejson==3.19.1
slack_sdk==3.21.3
Sphinx==7.1.1
symengine==0.10.0
tabulate==0.9.0
theano==1.0.5
threadpoolctl==3.2.0
torch_xla==1.0
torcharrow==0.1.0
torchaudio==2.0.2
transformers==4.31.0
trove_classifiers==2023.7.6
ukkonen==1.0.1
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
xmlrunner==1.7.7
z3==0.2.0
zarr==2.16.0
zstandard==0.21.0
zstd==1.5.5.1
